flynt-component[name="BlockContentGrid"] {
 
  .grid {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(1, 1fr);
    list-style: none;
    padding: 0;
    @media screen and (min-width: 600px) {
      &.columns-5,
      &.columns-4,
      &.columns-3,
      &.columns-2 {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media screen and (min-width: 992px) {
      &.columns-5,
      &.columns-4,
      &.columns-3 {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @media screen and (min-width: 1200px) {
      &.columns-5,
      &.columns-4 {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    @media screen and (min-width: 1500px) {
      &.columns-5 {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
  article {
    display:flex;
    flex-direction:column;
    gap:16px;
    .image {
      position: relative;
      overflow: hidden;
      &.bottom {
        order:2;
      }
      @media screen and (max-width: 992px) {
        img {
          all: unset;
        }
      }
    }
    .content {

    }
    .ctas {
      display:flex;
      flex-wrap:wrap;
      gap:8px;
    }
  }
  
  
}
