flynt-component[name="GridPostsArchive"] {
  // Core .posts grid styling
  .posts {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(1, 1fr);
    list-style: none;
    padding: 0;
    @media screen and (min-width: 600px) {
      &.columns-5,
      &.columns-4,
      &.columns-3,
      &.columns-2 {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media screen and (min-width: 992px) {
      &.columns-5,
      &.columns-4,
      &.columns-3 {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @media screen and (min-width: 1200px) {
      &.columns-5,
      &.columns-4 {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    @media screen and (min-width: 1500px) {
      &.columns-5 {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }

  .posts-empty {
    text-align: center;
  }

  .post {
    .link {
      block-size: 100%;
      color: currentColor;
      display: flex;
      flex-direction: column;
      font-weight: initial;
      text-decoration: none;
    }

    .content {
      color: var(--color-text);
      flex-grow: 1;
      margin-block-start: 0;
      .terms {
        display:flex;
        gap:8px;
        flex-wrap:wrap;
      }
    }

    .footer {
      align-items: center;
      display: flex;
      inline-size: 100%;
      justify-content: space-between;
      padding-block: 0 var(--box-spacing);
      padding-inline: var(--box-spacing);
      position: relative;

      .readingTime {
        color: var(--color-text-muted);
      }
    }
  }

  @import "Partials/filter";
  @import "Partials/pagination";
}
