flynt-component[name="BlockImageText"] {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap);
    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  .image {
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 992px) {
      img {
        all: unset;
      }
    }
  }
  &.image-right {
    .image {
      @media screen and (min-width: 992px) {
       order:2;
      }
    }
  }
}
