/**
 * Helpers
 */

flynt-component {
  display: block;
  position: relative;
}

// Padding and Margin Classes
$spaceamounts: (0, 8,16,24,32,40,48,56,64,72,80,120,200);
$sides: (top, bottom, left, right, all);
@each $space in $spaceamounts {
  @each $side in $sides {
    @if $side == "all" {
      .m#{$space} {
        margin: #{$space}px;
      }

      .p#{$space} {
        padding: #{$space}px;
      }
    } @else {
      .m#{str-slice($side, 0, 1)}#{$space} {
        margin-#{$side}: #{$space}px !important;
      }

      .p#{str-slice($side, 0, 1)}#{$space} {
        padding-#{$side}: #{$space}px !important;
      }
    }
  }
}

// colors
.c-primary {
  color: var(--color-primary)!important;
}
.c-primary-d{
  color: var(--color-primary-d)!important;
}
.c-secondary {
  color: var(--color-secondary)!important;
}

// borders
.border-top {
  border-top: var(--border);
}
.border-bottom {
  border-bottom: var(--border);
}

.list-reset {
  list-style: none;
  padding-left: 0;
  margin: 0!important;
  
  li {
    margin: 0;
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
}

.anchor-offset {
  display:block;
  width:1px;
  height:1px;
  background:Red;
  transform:translateY(-60px);
  pointer-events: none;
  opacity:0;
}

.img-fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101%;
  height: 101%;
  object-fit: cover;
  pointer-events: none; // optional: if it's decorative
  user-select: none;

  // IE11 fallback (optional)
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    object-fit: none;
    max-width: none;
    max-height: none;
  }
}
.img-fit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101%;
  height: 101%;
  object-fit: contain;
  pointer-events: none; // optional: if it's decorative
  user-select: none;
  &.padded {
    width: calc(100% - 24px);
    height: calc(100% - 24px);
  }
  // IE11 fallback (optional)
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    object-fit: none;
    max-width: 100%;
    max-height: 100%;
  }
}


.img-style {
  border:var(--border);
  border-radius:8px;
}

.lead {
  font-size:var(--font-size-body-large);
  font-weight:300;
}
.small {
  font-size:var(--font-size-body-small);
}
.faded {
  opacity:0.75;
}

// Small downward triangle
.caret {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid var(--color-text);
  font-size: 0;
  line-height: 0;
}

.small-caps {
  text-transform: uppercase;
  font-size:14px;
  font-weight:900;
  font-family: var(--font-family-text);
  letter-spacing: 0.025em; 
}

.pageWrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  min-block-size: 100%;

  .admin-bar & {
    padding-block-start: var(--wp-admin--admin-bar--height);
  }
}

.h-padding {
  padding-inline: 20px;
  @media screen and (min-width: 768px) {
    padding-inline: 40px;
  }
  @media screen and (min-width: 992px) {
    padding-inline: 80px;
  }
}

.h-padding-sm {
  padding-inline: 20px;
  @media screen and (min-width: 768px) {
    padding-inline: 40px;
  }  
}

.v-padding {
  padding-block: 20px 40px;
  @media screen and (min-width: 768px) {
    padding-block: 40px;
  }
  @media screen and (min-width: 992px) {
    padding-block: 80px;
  }
}

.v-padding-sm {
  padding-block: 20px 40px;
  @media screen and (min-width: 768px) {
    padding-block: 40px;
  } 
}

// Custom container class
.container {
  position:relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  @extend .h-padding;  
  &--small {
    max-width:900px;
  } 
  &--large {
    max-width:1600px;
  } 
  &--xlarge {
    max-width:1920px;
  } 
  &--full {
    max-width:100%;
  } 
}

// Padding used for blocks
.componentSpacing {
  @extend.v-padding;
}

.scrollableTableWrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

// Class for text that should only be visible to screen readers.
.visuallyHidden,
.visuallyHidden-focusable {
  block-size: 1px;
  clip: rect(0, 0, 0, 0);
  inline-size: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  transition: none !important;
  white-space: nowrap;
}

.visuallyHidden-focusable {
  &:focus-visible {
    background-color: var(--color-background);
    block-size: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    clip: auto;
    color: var(--color-text);
    font-size: 1rem;
    inline-size: auto;
    inset-block-start: 0;
    inset-inline-start: 0;
    outline-offset: -3px;
    padding-block: 0.75rem;
    padding-inline: 1rem;
    text-decoration: none;
    z-index: 100000;
  }
}

/**
   * Box Helpers
   */

.boxPadding {
  padding-block: var(--box-spacing);
  padding-inline: var(--box-spacing);
}

.boxBorder {
  border: solid 2px var(--color-border);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

/**
   * Themes
   */

[data-theme] {
  background-color: var(--color-background);
  color: var(--color-text);
}


.custom-li {
  display:flex;
  gap:16px;
  i {
    flex:0 0 auto;
  }
}


