:root { 
  /* COLOURS */
  --color-primary: #00F096;
  --color-primary-l: #4cf4b5;
  --color-primary-d: #06B472; // 04623E is the lightest AAA passing colour, 067F50 is the AA
  --color-secondary: #642EC1;
  --color-dark: #0E001C;
  --color-grey-900:#DDDDDD;
  --color-grey-400:#888888;
  --color-grey-300:#444444;

  /* Feedbacks */
  --color-success: green;
  --color-warning: yellow;
  --color-danger: firebrick;

  /* Social Media Colours */
  --color-facebook-brand: rgb(59, 89, 152);
  --color-twitter-brand: rgb(85, 172, 238);
  --color-linkedin-brand: rgb(0, 123, 181);
  --color-youtube-brand: rgb(187, 0, 0);
  
  
  /* Text varables */
  --font-family-heading: 'Anek Latin', sans-serif;
  --font-family-text: 'Open Sans', sans-serif;
  --font-size-body: 1.125rem; 
  --font-size-body-small: 0.875rem;
  --font-size-body-large: 1.5rem;
  --flow-space: 1.5rem;
  --column-gap: clamp(2rem, 5vw, 5rem);
  --color-text: var(--color-dark);


  /* Spacing */
  --content-max-width: 700px;
  --content-max-width-wide: 900px;
  --content-max-width-full: 1200px;

  --gap: clamp(24px, 5vw, 56px);

  --box-spacing: clamp(1rem, 2.50vw + 0.25rem, 2.25rem);
  --container-spacing: clamp(1rem, 2.5vw + 0.25rem, 2.25rem);
  --component-spacing: clamp(3rem, 6.5vw + 1.05rem, 6.25rem);

   /* Misc */
   --transition-sm: 0.1s ease;
   --transition: 0.2s ease;
   --transition-lg: 0.4s ease;
 
   --border: 1px solid var(--color-grey-900);
 
   --box-shadow-lg: 0 8px 30px rgba(0, 0, 0, 0.2);
   --box-shadow-md: 0 5px 10px rgba(0, 0, 0, 0.2);
   --box-shadow-sm: 0 3px 5px rgba(0, 0, 0, 0.2);
}


// REM Conversion Table (root font-size: 16px)
// -------------------------------------------
//  4px   = 0.25rem
//  8px   = 0.5rem
// 14px   = 0.875rem
// 16px   = 1rem
// 18px   = 1.125rem
// 20px   = 1.25rem
// 24px   = 1.5rem
// 32px   = 2rem
// 40px   = 2.5rem
// 48px   = 3rem
// 56px   = 3.5rem
// 64px   = 4rem
// 72px   = 4.5rem
// 80px   = 5rem
// 96px   = 6rem