[name="NavigationMobile"] {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  @media screen and (min-width: 992px) {
    display: none;
  }
  ul {
    @extend.list-reset;
    li {
      &.button {
        all: unset; /* removes almost all styles */
        a {
          @extend.button;
          @extend.small;
        }
      }
    }
  }
  // TOP WRAP
  .top-wrap {
    height: 60px;
    transition: var(--transition);
    backdrop-filter: blur(4px);
    border-bottom: var(--border);
    padding-right: 16px;
    .container {
      display: flex;
      gap: 16px;
      height: 100%;
      padding-inline: 0;
    }
    .at-top & {
      background: 0;
      backdrop-filter: blur(0px);
    }
    .brand {
      display: flex;
      align-items: center;
      gap: 0px;
      margin-right: auto;
      .nav-toggle {
        border: none;
        background: none;
        border-radius: 0;
        padding: 16px;
        width: 60px;
        flex: 0 0 auto;
        height: 100%;
        svg > * {
          stroke: var(--color-text);
        }
      }
      img {
        display: block;
        height: 32px;
      }
    }
    .extras-nav {
      display: flex;
      margin-left: auto;
      padding-right: 8px;
      .button {
        margin: 0;
      }
      ul {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  // MENU WRAP
  .menu-wrap {
    background: white;
    border-radius: 8px;
    border: var(--border);
    position: absolute;
    top: 78px;
    left: 16px;
    right: 16px;
    max-width: 400px;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
    box-shadow: var(--box-shadow-lg);
    overflow:auto;
    padding-right:16px;

    &.open-nav {
      visibility: visible;
      opacity: 1;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      border-bottom: var(--border);
      &.menu-item-has-children {
        &.open {
          > .expandable button {
            transform: rotate(180deg);
          }
        }
      }     
    }

    .expandable {
      display: flex;
      align-items: center;

      a {
        flex: 1;
        padding:16px;
      }
    }

    .nav-button {
      // Base styles here

      &:focus-visible {
        outline: 2px solid #007bff;
        outline-offset: 2px;
      }
    }

    .submenu-wrapper {
      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;
      transition: grid-template-rows 0.1s ease;
      > ul {
        min-height: 0;   // <-- 🔥 This makes the animation actually collapse      
      }
    }

    .sub-menu {
      overflow: hidden;
      padding-left: 1rem;
      background: #f9f9f9;

      a {
        padding:8px 16px;
        &:hover {
          background: #eee;
        }
      }
    }

    .open > .submenu-wrapper {
      grid-template-rows: 1fr;
    }
  }
}

.hide-overflow {
  overflow: hidden !important;
}
