<flynt-component name="LayoutBasicHeader" class="componentSpacing {{largeHeader ? 'lg'}}">
    <div class="container">
        <div class="content">
            <h1 class="">{{ pageTitle ?? post.title ?? fn('get_the_archive_title') }}</h1>
        </div>
    </div>
</flynt-component>
